.svg {
	top: 80px !important;
	margin: 0 auto;
	width: 90%;
	position: absolute;
	overflow: visible;
	text-anchor: end;
	z-index: 0;
	background-color: #2a2a2a;
}

.svg polygon {
	stroke: #0F0F0F;
	stroke-width: 0.5;
	stroke-linejoin: round;
}